DATABASE_URL_PUBLIC="postgresql://usuario:senha@host:5432/nomedobanco?sslmode=require"
MODEL_API_URL="http://localhost:3000/predict"

DATABASE_URL_PRIVATE="postgresql://postgres:123@localhost:5432/DB_Part2_2"
DATABASE_URL_PUBLIC="postgresql://postgres:123@localhost:5432/DB_Part1_2"
DATABASE_URL="postgresql://postgres:123@localhost:5432/DB_Part1_2"